@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-align: center;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

img {
    object-fit: contain;
    border: none;
}

nav {
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0%;
    background-color: white;
    width: 100%;
    flex-wrap: wrap;
}

.logo-section>figure:nth-child(1) {
    margin: 0 2rem;
}

h1 {
    font-size: 1.5rem;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    color: #707070;
    margin: 2% 0;
}

nav div {
    display: flex;
    font-weight: 600;
}

nav div img {
    margin-right: 10%;
    height: 80%;
}

nav div span {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 10% 0;
}

nav ul {
    display: flex;
    font-size: 1.4rem;
}

nav li {
    font-weight: 600;
    padding: 1.5rem;
    margin: 0 .5rem;
}

nav li:hover {
    background-color: #F16822;
    color: white;
    cursor: pointer;
}

header {
    background-image: url(/ressources/slider1.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10%;
    height: 100vh;
}

.carousel-item-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    width: 80%;
    align-items: center;
    height: 100%;
}

header h2 {
    color: #F16822;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 4.4rem;
    margin: 2% 0;
}

header p {
    font-size: 2.2rem;
    color: #333333;
    font-family: 'Montserrat';
    font-weight: 400;
    margin: 5% auto;
    width: 70%;
}

.header-text-container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.my-arrow-left,
.my-arrow-right {
    height: 30px;
}

.my-arrow-right {
    transform: rotate(180deg);
}

header .cube-container {
    position: relative;
    top: 30%;
}

.cube-container {
    display: flex;
    margin: 2rem;
}

.slider-cube {
    width: 10px;
    height: 10px;
    background-color: #333333;
    margin: 5px;
}

h3 {
    font-size: 4rem;
    color: #333333;
}

.services-cards h4 {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 2rem;
}

.services-cards p {
    font-size: 1.2rem;
    width: 90%;
    margin: 5% auto;
    color: #333333;
}

.services-cards {
    width: 40%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1% 0;
}

.consultation {
    width: 90%;
    margin: auto;
}

.services {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-intro-text {
    width: 70%;
    font-size: 1.8rem;
}

.services-ims-container img {
    width: 3rem;
    height: 3rem;
}

.services-ims-container {
    background-color: #EEEEEE;
    width: max-content;
    padding: 10%;
    border-radius: 50px;
    margin: 10% auto;
}

.about-ubi {
    background-image: url(/ressources/bokehback.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10% 10% 0 10%;
}

.about-ubi h3 {
    color: #F16822;
}

.about-ubi .slider-cube {
    background-color: #EEEEEE;
}

.about-ubi p {
    color: #EEEEEE;
    font-size: 1.4em;
    width: 60%;
}

.about-ubi img {
    margin-top: 4%;
    width: 80%;
    position: relative;
    bottom: -3px;
}

.posts p {
    font-size: 1.7rem;
}

.posts {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F9F9;
}

.post-cards {
    background-color: white;
    padding: 2%;
    width: 22%;
    margin: 4% 2%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.144);
}

.post-cards img {
    width: 100%;
    object-fit: contain;
}

.post-cards-text h4 {
    margin-bottom: 5%;
    font-size: 2.3rem;
    font-family: 'Raleway';
    color: #F16822;
    font-weight: 500;
}

.post-cards-text p {
    font-size: 1.1rem;
}

.post-cards-text {
    width: 90%;
    flex-direction: column;
    margin: 10% auto;
}

.post-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.fun-facts {
    background-image: url(/ressources/lauren-mancke-aOC7TSLb1o8-unsplash.png);
}

.opacity-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.87);
    width: 100%;
    height: 100%;
    padding: 10%;
}

.facts-container p {
    font-weight: 600;
    font-size: 2rem;
}

.facts-container h5 {
    font-weight: 600;
    font-size: 5rem;
    color: #F16822;
}

.facts-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 10%;
}

.us {
    background-image: url(/ressources/rect.png);
    color: white;
    padding: 7%;
}

.us-content {
    display: flex !important;
    flex-direction: row;
    padding-left: 1%;
    margin-bottom: 60px;
}

.us-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.us p {
    font-size: 1.4rem;
    text-align: left;
}

.us h3 {
    color: white;
    text-align: left !important;
}

.us img {
    border-radius: 50%;
    width: 15em;
}

.us figure {
    width: max-content;
    margin: 0 2%;
}

footer {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 15% 1% 15%;
    color: white;
}

footer h5 {
    color: #F16822;
    font-size: 1.5em;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.footer-cards li {
    display: flex;
    margin-bottom: 10%;
}

.footer-cards .tags-container {
    display: flex;
    flex-wrap: wrap;
}

.tags-container li {
    background-color: #444444;
    padding: 2%;
    margin: 3%;
}

.footer-cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
}

.footer-cards:nth-child(2) p {
    font-size: 1.3rem;
    color: #CCCCCC;
}

.footer-cards:nth-child(1) p {
    font-size: 1.3rem;
    color: #CCCCCC;
}

.footer-cards:nth-child(1) ul {
    width: 100%;
    font-size: 2rem;
}

.footer-cards:nth-child(1) figure {
    margin-right: 5%;
}

.footer-cards:nth-child(2) figure {
    margin-right: 5%;
}

.footer-cards:nth-child(2) ul {
    width: 100%;
}

.footer-cards:nth-child(4) figure {
    margin-right: 10%;
}

.footer-cards:nth-child(4) div p {
    text-align: left;
}

.footer-cards:nth-child(4) div {
    display: flex;
    justify-content: flex-start;
    margin: 5% 0;
    width: 100%;
}

.footer-top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-bottom-container p {
    font-size: 2rem;
    color: #777777;
}

.footer-bottom-container {
    display: flex;
    justify-content: space-between;
    border-top: 1px #707070 solid;
    align-items: center;
    margin: 5% 0 0 0;
    padding: 1% 0 0 0;
}

.socials-logos {
    display: flex;
    justify-content: space-between;
    width: 15%;
}

.red {
    background-color: red;
}


/* -_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_ */

@media only screen and (max-width: 600px) {
    header h2 {
        font-size: 3rem;
    }
    header p {
        font-size: 1.5rem;
    }
    .post-cards {
        width: 70%;
    }
    .facts-container li {
        width: 50%;
        margin: 5% 0;
    }
    .footer-top-container {
        flex-wrap: wrap;
    }
    .footer-cards {
        width: 100%;
    }
    .us-content {
        flex-direction: column;
        padding-left: 0;
    }
    .footer-bottom-container p {
        font-size: 1rem;
    }
    .footer-bottom-container img {
        width: 2.5rem;
    }
    .socials-logos {
        width: 40%;
    }
}